<div ng-include="'app/components/user-data.html'"></div>

<div class="container">
	
	<div class="col-md-4">
		<div class="card text-center">
			<h2 class="text-mint">
				<strong>Evaluación</strong>
			</h2>
			<p class="clock">3:00:00</p>
			<button class="btn btn-primary">Guardar</button>
			<button class="btn btn-success">Calificar</button>
			<button class="btn btn-danger">Salir</button>
		</div>
	</div>
	<div class="col-md-8">

		<div class="card">
			<h1 class="text-mint">
				<strong>Instrucciones</strong>
			</h1>
			<p class='lead'>
				En la parte izquierda puedes encontrar una lista de cuántas preguntas tiene ésta evaluación, además de todas las materias que la componen.
			</p>
			<p class='lead'>

				Selecciona la opción que consideres correcta para cada una de las preguntas. Hay preguntas que tienen material adicional. Para verlo, haz clic en el botón  y el recurso se mostrará.
			</p>
			<p class='lead'>
				Si ya has contestado una sección, selecciona alguna de las categorías ubicadas en la parte izquierda.
			</p>
			<p class='lead'>
				Una vez hayas completado la evaluación, GEMA calificará tus respuestas y te dará las justificaciones de tus respuestas correctas. Las respuestas en blanco se contabilizan como incorrectas.

			</p>

			<p class='lead'>
				¡Éxito y Buena Suerte!

			</p>

		</div>

	</div>
</div>