<div class="well">
	<div class="row">
		<div class="col-sm-8">
			<h2 class="text-primary">
				<strong>Tu última evaluación</strong><br>
				<small>Finalizada <span ng-bind="user.last.finished"></span></small>
			</h2>
			<span class="lead" ng-class="{'text-success': user.last.result.pct >= 80, 'text-warning': user.last.result.pct < 80 && user.last.result.pct >= 60, 'text-danger': user.last.result.pct < 60}">
				<span ng-bind="user.last.result.correct"></span> de <span ng-bind="user.last.result.total"></span>
				
				<strong>
					
					- <span ng-bind="user.last.result.pct"></span>%
				</strong>
			</span>
			
		</div>
		<div class="col-sm-4 text-center">
			<button class="btn btn-block btn-lg btn-primary">Ver Resultados</button>
		</div>
		<div class="col-sm-12">
			<hr>
			<h3 class='text-primary'>Resultados Recientes</h3>
			<div class="list-group">
				<div>
					
				<div class="list-group-item">
					<div class="row-action-primary">
						<i class="mdi-navigation-check"></i>
					</div>
					<div class="row-content">
						<div class="least-content">
							<span class="text-success">
							100 de 120 (84%) </span>
						</div>
						<h4 class="list-group-item-heading">Junio 4 
							
						</h4>
						<p class="list-group-item-text">
							<a href="#/review/1">Revisar Evaluación</a>
						</p>
					</div>
				</div>
				<div class="list-group-separator"></div>
				</div>
			</div>


		</div>
	</div>
</div>