<div ng-include="'app/components/user-data.html'"></div>
<div class="container">
	<div class="col-md-4">
		<div class="card">
			<h3 class="text-mint">
				<strong>Datos de la Evaluación</strong>
			</h3>
			<table class="table">
				<tr>
					<th>Resultado</th>
					<td>
						<strong>
						<span ng-class="{'text-success':eval.pct >= 80, 'text-warning': eval.pct < 80 && eval.pct >= 60, 'text-danger': eval.pct < 60}"> 
							
						<span ng-bind="eval.correctas"></span> de <span ng-bind="eval.total"></span>

						(<span ng-bind="eval.pct"></span> %)
					</span>
							
						</strong>
					</td>
				</tr>
				<tr>
					<th>Tipo</th>
					<td><span ng-show="eval.tipo === 's'">Estándar</span>
						<span ng-show="eval.tipo === 'p'">Personalizado</span></td>
				</tr>
				<tr>
					<th>Realizada</th>
					<td>Martes 12 de Abril</td>
				</tr>
				<tr>
					<th>Tiempo Utilizado</th>
					<td>2 horas, 15 minutos</td>
				</tr>
			</table>
		</div>
		<div class="card">
			<h3 class="text-mint">
						<strong>Resultados</strong>
					</h3>
			<table class="table">
				<tr>
					<th>Materia</th>
					<th>Resultado</th>
					<th>%</th>
				</tr>
				<tr ng-repeat='m in eval.materias' ng-class="{'success':m.pct >= 80, 'warning': m.pct < 80 && m.pct >= 60, 'danger': m.pct < 60}">
					<td><span ng-bind="m.nombre"></span></td>
					<td><span ng-bind="m.correctas"></span> de <span ng-bind="m.total"></span></td>
					<td>
						<span ng-bind="m.pct"></span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-8" style='margin-top:25px'>
		<tabset type='pills' justified='true'>
			<tab heading='{{materia.nombre}}' ng-repeat="materia in eval.materias">
				
				<!-- Justificación -->
				<div class="card recomendaciones">
					<h3 class="text-mint"><strong><span ng-bind="materia.nombre"></span> - Temas recomendados</strong></h3>
					<p class='lead'>De acuerdo a tus respuestas y a tus resultados previos, éste es el dominio que tienes sobre los temas de ésta materia.</p>
					<accordion>
						<accordion-group heading='Temas que no dominas' ng-show='materia.recomendacion.noDomina'>
							<p class='text-danger'>No has estudiado lo suficiente de éstos temas.</p>
							<ul>
								<li ng-repeat="r in materia.recomendacion.noDomina">
									<span ng-bind="r"></span>
								</li>
							</ul>
						</accordion-group>
						<accordion-group heading='Temas que necesitan repaso' ng-show='materia.recomendacion.repaso'>
							<p class='text-warning'>Ya has estudiado éstos temas, pero aún necesitan repaso. </p>
							<ul>
								<li ng-repeat="r in materia.recomendacion.repaso">
									<span ng-bind="r"></span>
								</li>
							</ul>
						</accordion-group>
						<accordion-group heading='Temas que ya dominas'>
							<p class="text-success">Has respondido satisfactoriamente a las preguntas de éstos temas. ¡Sigue así<!DOCTYPE html>
							<html lang="en">
							<head>
								<meta charset="UTF-8">
								<title>Document</title>
							</head>
							<body>
								
							</body>
							</html></p>
							<ul>
								<li ng-repeat="r in materia.recomendacion.domina">
									<span ng-bind="r"></span>
								</li>
							</ul>
						</accordion-group>
					</accordion>
				</div>
				
				<div ng-repeat="pregunta in materia.preguntas" class="card">
					<div class="form-group">
						<p class="question">{{$index + 1}}. {{pregunta.pregunta}}
							<span class="pull-right">
								<span class='fa' ng-class="{'fa-check text-success': pregunta.correcta == pregunta.sel, 'fa-close text-danger': pregunta.correcta != pregunta.sel }"></span>
							<span ng-show="pregunta.recurso">
								<button class="btn btn-primary">
									<span class="glyphicon glyphicon-edit"></span>
							</button>
							</span>
							</span>
						</p>
						<div ng-show="pregunta.sel != undefined">
							<div class="radio answer" ng-repeat='respuesta in pregunta.respuestas' ng-class="{'alert-success': $index == pregunta.correcta, 'alert-danger': $index == pregunta.sel && $index != pregunta.correcta}">
								<label class="answer" ng-class="{'bold': pregunta.sel == $index}">
									<input type="radio" name="{{pregunta.qid}}" value="{{$index}}" id="{{pregunta.qid}}-{{$index}}" ng-model="pregunta.sel" ng-checked="pregunta.sel == $index" disabled> {{respuesta.texto}}

								</label>
							</div>
							<div ng-show="pregunta.justificacion">
								<hr>
								<h4><strong>Justificación</strong></h4>
								<blockquote>
									<p ng-bind='pregunta.justificacion'></p>
								</blockquote>
							</div>
						</div>
						<div ng-show="!pregunta.sel" class='text-center'>
							<p>No contestaste ésta pregunta</p>
						</div>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>